header {
    border-style:inset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d6d6d6;
    color: #000000;
    padding: 10px 20px;
    
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-right: 30px;
   
  }
  
  nav a {
    color: #000000;
  }