/*Especificidad: 012*/
main > section:nth-of-type(1) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 25em;
  }
 
  
  /*Especificidad: 001*/
  h2 {
    width: 100%;
    padding: 0.625em;
    
  }
  /*Especificidad: 001*/
  article {
    width: calc(25% - 4em); /* Calcula el ancho de cada artículo (20% del ancho total con márgenes) */
    height: 10em;
    margin:1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.2em solid #000; 
    padding-bottom: 6em;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    
  }
  @media (max-width: 650px) {
    /*Especificidad: 002*/
  section > article {
    width: calc(40%); /* Calcula el ancho de cada artículo (20% del ancho total con márgenes) */
    height: 10em;
    margin:1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.2em solid #000; 
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    
  }
}
  /*Especificidad: 011*/
  article[data-state=flip] {
    transform: rotateY(180deg);
}
/*Especificidad: 011*/
article[data-state=revealed] {
  transform: rotateY(180deg);
}
/*Especificidad: 011*/
h2:nth-of-type(1){
text-align: center;
}
/*Especificidad: 002*/
article h3,
article img {
  /*Hereda bac-ground-color de body estilo.css #DED9CD*/
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #1C7CCC;
    backface-visibility: hidden;
}
/*Especificidad: 002*/
article h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/*Especificidad: 002*/
article img {
    transform: rotateY(180deg);
}
  /*Especificidad: 001*/
  img {
    width: 15em; 
    height: 15em;
    
  }

  