body > section:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 25em;
  }
  
  
  h2 {
    width: 100%;
    text-align: center;
    padding: 0.625em;
    
  }
  
  article {
    width: calc(25% - 4em); /* Calcula el ancho de cada artículo (20% del ancho total con márgenes) */
    height: 10em;
    margin:1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.2em solid #000; 
    padding-right: 1em;
    padding-bottom: 6em;
    transform: scale(1);
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform .5s;
    
  }
  article[data-state=flip] {
    transform: rotateY(180deg);
}
article[data-state=revealed] {
  transform: rotateY(180deg);
}

article h3,
article img {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #1C7CCC;
    backface-visibility: hidden;
}

article h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

article img {
    transform: rotateY(180deg);
}
  
  img {
    width: 15em; 
    height: 15em;
    
  }
  